*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    justify-content: center;
    display: flex;
}

#title{
    width: 25vw;
    position: absolute;
    left: 3vw;
    height: 200px;
    font-size: 200%;
    top: 20px;
}

#role{
    position: absolute;
    width: 8vw;
    height: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    top: 9vh;
    left: 4vw;
    background-color: #129432;
    border-radius: 6px;
}

.moneyraised{
    width: 20vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    background-color: #cfd8dc;
    height: 30vh;
    position: absolute;
    top: 15vh;
    border-radius: 6px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    left: 35px;
}

#toptext{
    width: 80%;
    margin: 15px 10%;
    display: flex;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.moneyraised h1{
    width: 100%;
    height: 80%;
    opacity: 0.8;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    text-align: center;
}

.enrolledpeople{
    width: 20vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cfd8dc;
    height: 30vh;
    position: absolute;
    top: 15vh;
    border-radius: 6px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    left: 25vw;
}

.enrolledpeople h1{
    width: 100%;
    height: 80%;
    opacity: 0.8;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    text-align: center;
}

#t2{
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 40px;
    justify-content: left;
    text-align: left;
    z-index: 2;
}

.customs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 56.5vh;
    position: absolute;
    align-items: flex-start;
}

.applications{
    width: 80vw;
    border-radius: 6px;
    background-color: #eceff1;
    display: flex;
    text-align: center;
    margin: 10px auto;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    justify-content: center;
    position: relative;
    height: 10vh;
    border: none;
}

.applications select{
    appearance: none;
    cursor: pointer;
    outline: none;
}

#display{
    border-radius: 100%;
    height: 80%;
    background-color: #fff;
    left: 5%;
    position: absolute;
    margin: 10% 15px;
}

.applications h3{
    font-size: 130%;
    position: absolute;
    left: 15%;
}

.applications p{
    position: absolute;
    left: 70%;
    font-size: 100%;
}

.applications select{
    position: absolute;
    left: 80%;
    border: none;
    width: 15%;
    background-color: #cfd8dc;
    font-size: 100%;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    justify-content: center;
    height: 80%;
}

.applications input{
    position: absolute;
    left: 80%;
    border: transparent;
    width: 15%;
    background-color: #cfd8dc;
    justify-content: center;
    text-align: center;
    cursor: text;
    justify-content: center;
    border-radius: 6px;
    font-size: 100%;
    height: 80%
}

#meetingtime{
    display: none;
}

#timeselect{
    cursor: pointer;
    height: 80%;
    width: 10%;
    position: absolute;
    left: 55%;
    border-radius: 6px;
    font-size: 130%;
    background-color: #129432;
    color: #fff;
    display: none;
}

#gmail{
    display: none;
    position: absolute;
    left: 50%;   
}

#statusfortype{
    position: absolute;
    height: 80%;
    background-color: #129432;
    width: 8%;
    left: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 130%;
    color: #fff;
    border: none;
    display: flex;
}

#nextvalue{
    position: absolute;
    height: 80%;
    left: 40%;
    background-color: #129432;
    width: 8%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 130%;
    color: #fff;
    border: none;
    display: flex;
}

#linkfortype{
    left: 51.5%;
}

@media (max-width: 768px){
    .moneyraised {
        width: 35vw;
        left: 10vw;
        position: absolute;
    }

    .enrolledpeople{
        width: 35vw;
        left: 50vw;
        position: absolute;
    }

    #title{
        width: 60vw;
        font-size: 150%;
    }
    #role{
        width: 20vw;
    }
    #toptext{
        font-size: 100%;
    }

    .applications h3{
        font-size: 110%;
        width: 40%;
        left: 25%;
    }
    #display{
        position:absolute;
        left: 1%;
        text-align: left;
        justify-content: left;
    }
}