:root{
    --blue:#e84393
}

ul{
    margin:0;padding: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    list-style-type:none;
    border: none;

}

li a{
    display: block;
    width: 60px;
}

li a:hover{
    background-color:blue;
    color: white;
}