:root{
    --blue:#e84393
}

ul{
    margin:0;padding: 0;
    outline: none;
    width: 100%;
    height: 15%;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    list-style-type:none;
    border: none;
    background-color: red;
    font-size: small;
}

li a{
    display: block;
    width: 25%;
    height: 100%;
    border: none;    ;
}

li a:hover{
    background-color:blue;
    color: white;
}