*{
    margin: 0;
    padding: 0;
}

.banner{
    background-image: url("background.png");
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

ul{
    margin: 0;
    justify-content: space-between;
    display: flex;
}

.nav ul li{
    cursor: pointer;
}

.nav ui li a{
    text-decoration: none;
    text-transform: uppercase;
}